.container {
    display: flex;
  }
  
  .image-container {
    flex: 1;
  }
  
  .content {
    flex: 1;
  }
  
  .uploaded-image {
    width: 600px;
    height: 600px;
    object-fit: cover;
    font-size: 1em;
  }
  
  .buttons {
    width: 100px;
    height: 25px;
    margin-left: 30px;
  }
  
  .input-file {
    width: 80%;
    height: 30px;
  }