.container {
  display: flex;
}

.image-container {
  flex: 1;
  position: relative;
  border: 2px solid #32b983;
  width: 800px;
  height: 500px;
}

.content {
  flex: 1;
}

.uploaded-image {
  width: 800px;
  height: 500px;
  object-fit: cover;
  font-size: 1em;
}

.input-file {
  width: 100px;
  height: 30px;
}

.input-file {
  display: none;
}