.about-underline {
    width: 250px;
    border: 0;
    border-top: 2px solid #32b983;
  }

  .buttons {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #32b983;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 25px; /* Match this with the button height */
    cursor: pointer;
    background-color: #ffffff;
    margin-right: 15px;
  }

  .toasty {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #32b983;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
  }